version: '3'
services:
  my-app:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /usr/src/app
    ports:
      - "8080:8080"
    command: cargo run
    volumes:
      - .:/usr/src/app
    environment:
      RUST_BACKTRACE: 1
